body {
  padding-top: 50px; }

.starter-template {
  padding: 40px; }

.actions {
  margin: 0 auto;
  width: 500px;
  height: 50px; }
  .actions .called-numbers-container {
    float: right; }
    .actions .called-numbers-container .called-numbers {
      margin-left: 5px;
      background: gray;
      border: 1px solid gray;
      cursor: default; }
    .actions .called-numbers-container .current-number {
      background: black;
      cursor: pointer; }

.big-number {
  display: none;
  margin: 0 auto;
  width: 500px;
  height: 200px;
  text-align: center;
  font-size: 130px;
  color: black;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 15px; }

#board {
  margin: 0 auto;
  width: 500px;
  padding-left: 5px; }
  #board .number-container {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin: 2px;
    background: #47BFFF;
    color: #fff; }
    #board .number-container .number {
      width: 50%;
      height: 50%;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center; }
  #board .highlight {
    background: #FF217E; }

.modal-text {
  text-align: center; }
