@mixin center-width {
	margin: 0 auto;
	width: 500px;
}

@mixin absolute-center {
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	text-align: center;
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px;
}

.actions {
	@include center-width;
	height: 50px;
	.called-numbers-container {
		float: right;
		.called-numbers {
			margin-left: 5px;
			background: gray;
			border: 1px solid gray;
			cursor: default;
		}
		.current-number {
			background: black;
			cursor: pointer;
		}
	}
}

.big-number {
	display: none;
	@include center-width;
	height: 200px;
	text-align: center;
	font-size: 130px;
	color: black;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 15px;
}

#board {
	@include center-width;
	padding-left: 5px;
	.number-container {
		position: relative;
		float: left;
		width: 50px;
		height: 50px;
		margin: 2px;
		background: #47BFFF;
		color: #fff;
		.number {
			@include absolute-center;
		}
	}
	.highlight {
		background: #FF217E;
	}
}

.modal-text {
	text-align: center;
}